<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/explore.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/explore.js"></script>
</head>
<body>
<div>
    <div id="cont">
        <div id="menu-fixed">

            <a href="#cont">
                <i class="material-icons back">&#xE314;</i>
            </a>
            <a href="#menu-fixed">
                <div class="logo">
                    <img src="images/logofinal.png" style="width:70px;height:70px;">
                </div>
                <p class="pmenu">MENU</p>
            </a>
            <hr>
            <ul class="menu">
                <li><i class="material-icons">&#xE88A;</i><p>Home</p></li>
                <li><i class="material-icons">&#xe02c;</i><p>Explore</p></li>
                <li><i class="material-icons">person</i><p>Profile</p></li>
                <li><i class="material-icons">&#xE8B8;</i><p>Settings</p></li>
                <li><i class="material-icons">&#xE8B6;</i><p>Search</p></li>
            </ul>
            <i class="material-icons info">&#xE88E;</i>
        </div>
    </div>

    <div class="page">
        <header class="page_header">
            <h1>A super commercial page</h1>
        </header>



        <div class="cards-holder">
            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1437422061949-f6efbde0a471?q=80&fm=jpg&w=1080&fit=max&s=b7a6c4b3f13802ca90978b676117aa09">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, tempore. Minus minima provident magnam nihil commodi explicabo doloribus accusantium earum.</p>
                </section>
            </div>

            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1429734160945-4f85244d6a5a?dpr=2&fit=crop&fm=jpg&h=625&q=80&w=950">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, consectetur adipisicin tempore. Minus minima provident magnam nihil commodi explicabo doloribus accusantium earum.</p>
                </section>
            </div>

            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1438109491414-7198515b166b?dpr=2&fit=crop&fm=jpg&h=650&q=80&w=950">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, consectetur adipisicing elit.magnam nihil commodi explicabo doloribus accusantium earum.</p>
                </section>
            </div>

            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1434828927397-62ea053f7a35?dpr=2&fit=crop&fm=jpg&h=650&q=80&w=950">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem enim explicabo sint quas iste quaerat iusto quibusdam accusantium </p>
                </section>
            </div>

            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?dpr=2&fit=crop&fm=jpg&h=650&q=80&w=950">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem enim explicabo sint quas iste quaerat</p>
                </section>
            </div>

            <br>
            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?dpr=2&fit=crop&fm=jpg&h=650&q=80&w=950">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem enim explicabo sint quas iste quaerat</p>
                </section>
            </div>
            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?dpr=2&fit=crop&fm=jpg&h=650&q=80&w=950">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem enim explicabo sint quas iste quaerat</p>
                </section>
            </div>
            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?dpr=2&fit=crop&fm=jpg&h=650&q=80&w=950">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem enim explicabo sint quas iste quaerat</p>
                </section>
            </div>
            <div class="card">
                <header class="card_header" data-background="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?dpr=2&fit=crop&fm=jpg&h=650&q=80&w=950">
                    <h2>Something cool</h2>
                </header>
                <section class="card_content">
                    <h2>Some motivational sentence</h2>
                    <p>Some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem enim explicabo sint quas iste quaerat</p>
                </section>
            </div>
        </div>
    </div>
</div>

</body>
</html>