<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/reggenre.css">
</head>
<body>

    <div class="container">
        <input type="checkbox" id="cb-1"/>
        <label for="cb-1">

            <h2>POP MUSIC</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vel ullam, non expedita veritatis praesentium earum neque dolor adipisci voluptatem quam! Quia qui sapiente similique nulla debitis temporibus sint facere?</p>
        </label>

        <input type="checkbox" id="cb-2"/>
        <label for="cb-2">

            <h2>CLASSICAL MUSIC</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vel ullam, non expedita veritatis praesentium earum neque dolor adipisci voluptatem quam! Quia qui sapiente similique nulla debitis temporibus sint facere?</p>
        </label>


        <input type="checkbox" id="cb-3"/>
        <label for="cb-3">

            <h2>COUNTRY MUSIC</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vel ullam, non expedita veritatis praesentium earum neque dolor adipisci voluptatem quam! Quia qui sapiente similique nulla debitis temporibus sint facere?</p>
        </label>


        <input type="checkbox" id="cb-4"/>
        <label for="cb-4">

            <h2>RHYTHM AND BLUES</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vel ullam, non expedita veritatis praesentium earum neque dolor adipisci voluptatem quam! Quia qui sapiente similique nulla debitis temporibus sint facere?</p>
        </label>


        <input type="checkbox" id="cb-5"/>
        <label for="cb-5">

            <h2>COUNTRY MUSIC</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vel ullam, non expedita veritatis praesentium earum neque dolor adipisci voluptatem quam! Quia qui sapiente similique nulla debitis temporibus sint facere?</p>
        </label>


        <input type="checkbox" id="cb-6"/>
        <label for="cb-6">

            <h2>ROCK MUSIC</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vel ullam, non expedita veritatis praesentium earum neque dolor adipisci voluptatem quam! Quia qui sapiente similique nulla debitis temporibus sint facere?</p>
        </label>
    </div>

</body>
</html>